<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DEBY´S REMODELATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}"> 
</head>
<body>
    <nav>
    <a href="/">Inicio</a>
    <a href="/servicios">Servicios</a>
    <a href="/contacto">Contacto</a>
</nav>
    <h1> DEBY´S ⁓ CONTACTO </h1>

    <p> Si deseas adquirir alguno de estos servicios comunicate al: </p>
    <p> +52 1 951 187 4056 </p>
    <p> o bien a nuestras redes sociales:  </p>
    <p> Ig @debymendoza</p>
   
    
</body>
</html>
